<div class="" id="q1" style="width: 13.5339%; height: 23.0918%; left: 15.1313%; top: 13.8601%; border-radius: 50%; background: rgb(255, 222, 23);">
</div>
<div class="" id="div1" style="width: 11.5%; left: 16.22%; top: 15.9289%;">
  <a href="#/assessment"><img src="images/mocha-break.png" alt="Question about mocha break"></a>
</div>
<div class="" id="div6" style="z-index: 3;border-radius: 30px;width: 13.2185%;height: 9.92253%;left: 15.5066%;top: 3.24644%;background: rgb(51, 51, 51);opacity: 1;">
  <p style="text-align:center; color:#fff; line-height:1.2">Mocha Break</p>
</div>

<div class="" id="q2" style="width: 13.5339%; height: 23.0918%; left: 29.4705%; top: 13.8601%; border-radius: 50%; background: rgb(255, 222, 23);">
</div>
<div class="" id="div2" style="width: 11.5%; left: 30.6749%; top: 15.9289%;">
  <a href="#/assessment-q2"><img src="images/mocktails.png" alt="Question about monte bianco"></a>
</div>

<div class="" id="q3" style="width: 13.5339%; height: 23.0918%; left: 43.99859%; top: 13.8601%; border-radius: 50%; 
    background:#FFDE17">
</div>
<div class="" id="div3" style="width: 11.5%; left: 44.97223%; top: 15.9289%">
  <a href="#/assessment-q3"><img src="images/shirley-temple.png" alt="Question about shirley temple"></a>
</div>

<div class="" id="q4" style="width: 13.5339%; height: 23.0918%; left: 58.6408%; top: 13.8601%; border-radius: 50%; background: rgb(255, 222, 23);">
</div>
<div class="" id="div4" style="width: 11.5%; left: 59.7313%; top: 15.9289%;">
  <a href="#/assessment-q4"><img src="images/virgin-long-island-tea.png" alt="Question about virgin long island ice tea"></a>
</div>

<div class="" id="q5" style="width: 13.5339%; height: 23.0918%; left: 73.2747%; top: 13.8601%; border-radius: 50%; background: rgb(255, 222, 23);">
</div>
<div class="" id="div5" style="width: 11.5%; left: 74.3689%; top: 15.9289%;">
  <a href="#/assessment-q5"><img src="images/virgin-mojito.png" alt="Question about virgin mojito"></a>
</div>

<div class="" id="q1-incorrect" style="left: 19.4282%; top: 21.627%; width: 5%;">
  <a href="#/how-to-make-mocha-break"><img src="images/lib/nextbtn.svg" alt="Watch video about mocha break"></a>
</div>

<div class="" id="q2-incorrect" style="left: 34.2285%; top: 21.627%; width: 5%;">
  <a href="#/how-to-make-monte-bianco"><img src="images/lib/nextbtn.svg" alt="Watch video about monte bianco"></a>
</div>

<div class="" id="q3-incorrect" style="left: 48.3761%; top: 21.627%; width: 5%; ">
  <a href="#/how-to-make-shirley-temple"><img src="images/lib/nextbtn.svg" alt="Watch video about shriley temple"></a>
</div>

<div class="" id="q4-incorrect" style="left: 62.8255%; top: 21.627%; width: 5%;">
  <a href="#/how-to-make-virgin-long-island-ice-tea"><img src="images/lib/nextbtn.svg" alt="Watch video about virgin long island ice tea"></a>
</div>

<div class="" id="q5-incorrect" style="left: 77.5843%; top: 21.627%; width: 5%;">
  <a href="#/how-to-make-virgin-mojito"><img src="images/lib/nextbtn.svg" alt="Watch video about virgin mojito"></a>
</div>

<div class="" id="q1-correct" style="left: 19.4282%; top: 21.627%; width: 5%;">
  <img src="images/lib/correct.svg" alt="correct answer">
</div>

<div class="" id="q2-correct" style="left: 34.2285%; top: 21.627%; width: 5%;">
  <img src="images/lib/correct.svg" alt="correct answer">
</div>

<div class="" id="q3-correct" style="left: 48.3761%; top: 21.627%; width: 5%; ">
  <img src="images/lib/correct.svg" alt="correct answer">
</div>

<div class="" id="q4-correct" style="left: 62.8237%; top: 21.627%; width: 5%;">
  <img src="images/lib/correct.svg" alt="correct answer">
</div>

<div class="" id="q5-correct" style="left: 77.5843%; top: 21.627%; width: 5%;">
  <img src="images/lib/correct.svg" alt="correct answer">
</div>

<div class="" id="question-point" style="left: 19.3848%; top: 36.2947%; width: 5%; height: 6.36183%;"><img src="images/lib/arrow-up.svg" alt="point"></div>

<div id="q1-question" style="width: 87.0893%; height: 38.1074%; left: 7.14777%; top: 41.1%; background: rgb(255, 255, 255);">
  <div class="moveable" id="" style="left: 4.37307%; top: 13.3714%; background: rgb(255, 255, 255);">
    <p>Mocha break ingredients are shaved chocolate and ...</p>  
  </div>
  <div class="moveable" style="left: 5.29218%; top: 32.5226%; width: 5%; height: 26.8775%; background: rgb(255, 255, 255);">
    <input class="quiz-input-radio" type="radio" name="q1" value="1"> 
  </div>
  <div class="moveable" style="width: 16.7739%; left: 9.5685%; top: 35.7996%; height: 38.271%; background: rgb(255, 255, 255);">    
    <p>Coca cola</p>
  </div>  

  <div class="moveable" style="left: 41.1257%; top: 32.5226%; width: 5%; height: 22.0109%; background: rgb(255, 255, 255);">
    <input class="quiz-input-radio" type="radio" name="q1" value="2"> 
  </div>
  <div class="moveable" style="width: 19.6498%; left: 45.1988%; top: 35.026%; height: 38.7213%; background: rgb(255, 255, 255);">
    <p>Chocolate milk</p>    
  </div>

  <div class="moveable" style="left: 73.6576%; top: 32.5226%; width: 5%; height: 22.0052%; background: rgb(255, 255, 255);">
    <input class="quiz-input-radio" type="radio" name="q1" value="3"> 
  </div>
  <div class="moveable" style="width: 18.0365%; left: 77.2736%; top: 34.9459%; height: 45.0679%; background: rgb(255, 255, 255);">
    <p>Tonic water</p>
  </div>
  
  <div class="moveable" id="quiz-submit-btn" style="left: 33.9566%; top: 64.994%; width: 32.0479%; height: 24.3446%;">
      <div style="left: 20.8097%; top: 9.84848%; width: 55.2299%; height: 73.4138%;">
        <p style="font-size:0.7em;color:#fff">Check answer</p>
      </div>
      <img src="images/lib/textbtn.svg" alt="button">
  </div>
</div>

<div class="script">
  var quiz = {quizType:"mc", id:"q1", group:0, tries:0, answer:"2"};     quiz;
</div>

<div id="nav">
  <a id="nav-next"><img src="images/lib/nextbtn.svg" alt="Next"></a>
  <a href="#/how-to-make-cocktails" id="nav-prev"><img src="images/lib/prevbtn.svg" alt="Previous"></a>
</div>

<script>
  var qg = 0;

  // setTimeout(function() {
      var q = quizGroup[qg].quizes;
      for (var i=0; i<q.length; i++) {
        var domID = '#'+q[i].quizID;
        if (q[i].result === undefined) {
          $(domID+'-correct, '+domID+'-incorrect').hide();
        } else if (q[i].result === true) {
          $(domID).css('background', '#8DC63F');
          $(domID+'-correct').show();        
          $(domID+'-incorrect').hide();
          $('input[name='+q[i].quizID+'][value='+q[i].userAnswer+']').prop('checked', true);
          $('input[name='+q[i].quizID+']').attr('disabled','disabled');
          $('#'+q[i].quizID+'-question #quiz-submit-btn').hide();
        } else if (q[i].result === false) {
          $(domID).css('background', '#95121E');
          $(domID+'-correct').hide();        
          $(domID+'-incorrect').show();
        }
      }
    // }, 10);

    var tl = new TimelineLite();
    tl.from('#div6', 0.5, {top:'30%', opacity:0});
    tl.from('#q1-question, #question-point', 0.5, {top:'20%',opacity:0});

    function markResult(e, result) { 
      if (result.status == 'correct') {
        $('#q1-incorrect').hide();
        $('#q1').css('background', '#8DC63F');
      } else {
        $('#q1').css('background', '#95121E');
      }
    }
    $(document).off('quiz/checked');
    $(document).on('quiz/checked', markResult);
  
</script>