<div class="" id="q1" style="width: 13.5339%; height: 23.0918%; left: 15.1313%; top: 13.8601%; border-radius: 50%; background: rgb(255, 222, 23);">
</div>
<div class="" id="div1" style="width: 11.5%; left: 16.22%; top: 15.9289%;">
  <a href="#/assessment"><img src="images/mocha-break.png" alt="Question about mocha break"></a>
</div>
<div class="" id="div6" style="z-index: 3;border-radius: 30px;width: 13.2185%;height: 9.92253%;left: 29.5066%;top: 3.24644%;background: rgb(51, 51, 51);opacity: 1;">
  <p style="text-align:center; color:#fff; line-height:1.2">Monte Bianco</p>
</div>

<div class="" id="q2" style="width: 13.5339%; height: 23.0918%; left: 29.4705%; top: 13.8601%; border-radius: 50%; background: rgb(255, 222, 23);">
</div>
<div class="" id="div2" style="width: 11.5%; left: 30.6749%; top: 15.9289%;">
  <a href="#/assessment-q2"><img src="images/mocktails.png" alt="Question about monte bianco"></a>
</div>

<div class="" id="q3" style="width: 13.5339%; height: 23.0918%; left: 43.99859%; top: 13.8601%; border-radius: 50%; 
    background:#FFDE17">
</div>
<div class="" id="div3" style="width: 11.5%; left: 44.97223%; top: 15.9289%">
  <a href="#/assessment-q3"><img src="images/shirley-temple.png" alt="Question about shirley temple"></a>
</div>

<div class="" id="q4" style="width: 13.5339%; height: 23.0918%; left: 58.6408%; top: 13.8601%; border-radius: 50%; background: rgb(255, 222, 23);">
</div>
<div class="" id="div4" style="width: 11.5%; left: 59.7313%; top: 15.9289%;">
  <a href="#/assessment-q4"><img src="images/virgin-long-island-tea.png" alt="Question about virgin long island ice tea"></a>
</div>

<div class="" id="q5" style="width: 13.5339%; height: 23.0918%; left: 73.2747%; top: 13.8601%; border-radius: 50%; background: rgb(255, 222, 23);">
</div>
<div class="" id="div5" style="width: 11.5%; left: 74.3689%; top: 15.9289%;">
  <a href="#/assessment-q5"><img src="images/virgin-mojito.png" alt="Question about virgin mojito"></a>
</div>

<div class="" id="q1-incorrect" style="left: 19.4282%; top: 21.627%; width: 5%;">
  <a href="#/how-to-make-mocha-break"><img src="images/lib/nextbtn.svg" alt="Watch video about mocha break"></a>
</div>

<div class="" id="q2-incorrect" style="left: 34.2285%; top: 21.627%; width: 5%;">
  <a href="#/how-to-make-monte-bianco"><img src="images/lib/nextbtn.svg" alt="Watch video about monte bianco"></a>
</div>

<div class="" id="q3-incorrect" style="left: 48.3761%; top: 21.627%; width: 5%; ">
  <a href="#/how-to-make-shirley-temple"><img src="images/lib/nextbtn.svg" alt="Watch video about shriley temple"></a>
</div>

<div class="" id="q4-incorrect" style="left: 62.8255%; top: 21.627%; width: 5%;">
  <a href="#/how-to-make-virgin-long-island-ice-tea"><img src="images/lib/nextbtn.svg" alt="Watch video about virgin long island ice tea"></a>
</div>

<div class="" id="q5-incorrect" style="left: 77.5843%; top: 21.627%; width: 5%;">
  <a href="#/how-to-make-virgin-mojito"><img src="images/lib/nextbtn.svg" alt="Watch video about virgin mojito"></a>
</div>

<div class="" id="q1-correct" style="left: 19.4282%; top: 21.627%; width: 5%;">
  <img src="images/lib/correct.svg" alt="correct answer">
</div>

<div class="" id="q2-correct" style="left: 34.2285%; top: 21.627%; width: 5%;">
  <img src="images/lib/correct.svg" alt="correct answer">
</div>

<div class="" id="q3-correct" style="left: 48.3761%; top: 21.627%; width: 5%; ">
  <img src="images/lib/correct.svg" alt="correct answer">
</div>

<div class="" id="q4-correct" style="left: 62.8237%; top: 21.627%; width: 5%;">
  <img src="images/lib/correct.svg" alt="correct answer">
</div>

<div class="" id="q5-correct" style="left: 77.5843%; top: 21.627%; width: 5%;">
  <img src="images/lib/correct.svg" alt="correct answer">
</div>

<div class="moveable" id="question-point" style="left: 33.9644%; top: 36.2947%; width: 5%; height: 6.36183%;"><img src="images/lib/arrow-up.svg" alt="point"></div>


<div id="q2-question" class="moveable" style="width: 87.0873%; height: 51.558%; left: 7.41029%; top: 41.3834%; opacity: 1; background: rgb(255, 255, 255);">
<div  id="" style="left: 4.5289%; top: 10.4754%; background: rgb(255, 255, 255);">
    <p>The correct glass used in serving monte bianco is ...</p>  
  </div>
  <div  style="left: 4.98316%; top: 26.8101%; width: 5%; height: 26.8775%; background: rgb(255, 255, 255);">
    <input class="quiz-input-radio" type="radio" name="q2" value="1"> 
  </div>
  <div  style="width: 7.94837%; left: 8.05138%; top: 30.3917%; height: 38.1917%; background: rgb(255, 255, 255);">
    <img src="images/martini glass.jpg" alt="Martini glass">
  </div>
  <div  style="width: 14.4942%; left: 17.4655%; top: 29.1978%; height: 29.8172%; background: rgb(255, 255, 255);">
    <p>Martini glass</p>
  </div>

  <div  style="left: 40.2921%; top: 26.447%; width: 5%; height: 22.0109%; background: rgb(255, 255, 255);">
    <input class="quiz-input-radio" type="radio" name="q2" value="2"> 
  </div>
  <div  style="width: 7.11124%; left: 44.1651%; top: 28.6862%; height: 38.6364%; background: rgb(255, 255, 255);">
    <img src="images/old fashioned glass.jpg" alt="old fashioned glass">
  </div>
  <div class="moveable" style="width: 15.2404%; left: 53.2601%; top: 28.4606%; height: 36.2241%; background: rgb(255, 255, 255);">
    <p>Old fashioned glass</p>
  </div>

  <div  style="left: 73.3279%; top: 26.0783%; width: 5%; height: 13.7105%; background: rgb(255, 255, 255);">
    <input class="quiz-input-radio" type="radio" name="q2" value="3"> 
  </div>
  <div  style="width: 6.27191%; left: 76.7289%; top: 28.6587%; height: 45.1643%; background: rgb(255, 255, 255);">
    <img src="images/highball glass.jpg" alt="highball glass">
  </div>
  <div  style="width: 12.7476%; left: 84.6707%; top: 27.3493%; height: 28.6376%; background: rgb(255, 255, 255);">
    <p>Highball glass</p>
  </div>
  <div id="quiz-submit-btn" style="left: 32.7439%; top: 77.2589%; width: 32.0479%; height: 24.3446%;">
      <div style="left: 20.8097%; top: 9.84848%; width: 55.2299%; height: 73.4138%;">
        <p style="font-size:0.7em;color:#fff">Check answer</p>
      </div>
      <img src="images/lib/textbtn.svg" alt="button">
  </div>
</div>

<div class="script">
  var quiz = {quizType:"mc", id:"q2", group:0, tries:0, answer:"1"};     quiz;
</div>

<div id="nav">
  <a id="nav-next"><img src="images/lib/nextbtn.svg" alt="Next"></a>
  <a id="nav-prev"><img src="images/lib/prevbtn.svg" alt="Previous"></a>
</div>

<script>
  var qg = 0;

  // setTimeout(function() {
      var q = quizGroup[qg].quizes;
      for (var i=0; i<q.length; i++) {
        var domID = '#'+q[i].quizID;
        if (q[i].result === undefined) {
          $(domID+'-correct, '+domID+'-incorrect').hide();
        } else if (q[i].result === true) {
          $(domID).css('background', '#8DC63F');
          $(domID+'-correct').show();        
          $(domID+'-incorrect').hide();
          $('input[name='+q[i].quizID+'][value='+q[i].userAnswer+']').prop('checked', true);
          $('input[name='+q[i].quizID+']').attr('disabled','disabled');
          $('#'+q[i].quizID+'-question #quiz-submit-btn').hide();
        } else if (q[i].result === false) {
          $(domID).css('background', '#95121E');
          $(domID+'-correct').hide();        
          $(domID+'-incorrect').show();
        }
      }
    // }, 10);

    var tl = new TimelineLite();
    tl.from('#div6', 0.5, {top:'30%', opacity:0});
    tl.from('#q2-question, #question-point', 0.5, {top:'20%',opacity:0});

    function markResult2(e, result) { 
      if (result.status == 'correct') {
        $('#q2-incorrect').hide();
        $('#q2').css('background', '#8DC63F');
      } else {
        $('#q2').css('background', '#95121E');
      }
    }
    $(document).off('quiz/checked');
    $(document).on('quiz/checked', markResult2);
  
</script>