<div class="" id="div1" style="left: 18.6597%; top: 18.4656%; width: 41.8264%; height: 77.8372%;font-size:85%">
  <h1>Credits</h1>
  <p style="font-size:60%"><strong>Subject Matter Expert</strong><br>Lucina Iswi Hapsari Sulistyo, S.H., MHM</p>
  <p style="font-size:60%"><strong>Instructional Designer</strong><br>Listhari Baenanda, S.S.</p>
  <p style="font-size:60%"><strong>Multimedia Developer</strong><br>Pramudya Munadi &amp; Richardus Yopie</p>
  <p style="font-size:60%"><strong>Bartender (Students)</strong><br>Priscillia Wijaya &amp; Fransisco Fernando</p>
</div>

<div class="" id="div2" style="left: 52.8831%; top: 34.0916%; width: 39.3532%; height: 49.627%; font-size: 85%; opacity: 1;">
  <p style="font-size:60%"><strong>Photographer</strong><br>Pramudya Munadi &amp; Angga Ferdiansyah</p>
  <p style="font-size:60%"><strong>Audio Recorder</strong><br>Ayu Hidayah</p>
  <p style="font-size:60%"><strong>Narrator</strong><br>Lucina Iswi Hapsari Sulistyo, S.H., MHM</p>
</div>

<div id="nav">
  <a id="nav-prev"><img src="images/lib/prevbtn.svg" alt="Previous"></a>
</div>

<script>
  var tl = new TimelineLite();
  tl.from("#div1", .5, {opacity:0, left:"40%"});
  tl.from("#div2", .5, {opacity:0, left:"80%"},"-=0.3");

</script>