<div class="" id="div1" style="left: 18.6597%; top: 18.4656%; width: 65.5704%; height: 25.5463%; opacity: 1; font-size: 85%;">
  <h1>References</h1>
  <p>Walker, J.R. (2014)., <i>The Restaurant: From Concept to Operation</i> (7 Ed.). New Jersey, John Wiley and Sons, Inc.</p>
</div>

<div class="" id="div2" style="left: 18.5358%; top: 44.3145%; width: 65.3266%; height: 49.5947%; opacity: 1; font-size: 85%;">
  <h1>Further Reading</h1>
  <p>Lillicrap, D., Cousins, J., (2015)., <i>Food and Beverage Services</i> (8 Ed.). New Jersey, John Wiley and Sons, Inc.</p>

<p><i>The Ultimate Encyclopedia of Wine, Beer, Spirits and Liqueurs, Stuart Walton and Brian Glover</i>, 2006. Anness Publishing.
</p>
</div>

<div id="nav">
  <a id="nav-next"><img src="images/lib/nextbtn.svg" alt="Next"></a>
  <a id="nav-prev"><img src="images/lib/prevbtn.svg" alt="Previous"></a>
</div>

<script>
  var tl = new TimelineLite();
  tl.from("#div1", .5, {opacity:0, left:"40%"});
  tl.from("#div2", .5, {opacity:0, left:"40%"},"-=0.3");

</script>